.main-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}