.example-container {
  height: 100vh;
  width: 100vw;
}

p {
  font-size: 14px;
  padding: 10px;
}

mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100% !important;
}

main {
  margin-top: 64px;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep span{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}