.example-container {
  height: 100vh;
  width: 100vw;
}

p {
  font-size: 14px;
  padding: 10px;
}
mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
}

main{
  margin-top: 64px;
}